<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
{% load static %}
<link href="{% static 'fivesites/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<script src="{% static 'fivesites/js/jquery.min.js' %}"></script>
<script src="{% static 'fivesites/js/move-top.js' %}"></script>
<script src="{% static 'fivesites/js/easing.js' %}"></script>
<link href="{% static 'fivesites/css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={{ my_ak }}"></script>

<style type="text/css">  
        html{height:100%}  
        body{height:100%;margin:0px;padding:0px}  
        #map{height:70%;width:80%;margin:5px auto;} 
</style> 

</head>

<body>
	<div class="header">
		<div class="container">
			 <div class="logo">
				 <br>
				 <span id="mytime"></span>
                 <script src="{% static 'fivesites/js/datetime.js' %}"></script>
			 </div>
				 <nav class="top-nav">
					<ul class="top-nav">
						<li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">成都站 </a></li>
					</ul>
				</nav>			
			<div class="clearfix"></div>
		  </div>
	</div>
	<br>
	<!--map-->
    <div></div>
	<div id="map">	
	</div>
    <!--datalink-->
    <script>
        var chengdupoint = new Array({{ coordinate_chengdu.0 }}, {{ coordinate_chengdu.1 }}) //成都坐标
        var coordinatepoints = "{{ coordinate_points }}" //场地坐标点集合
        var coordinatenames = "{{ fivesite_name_many }}"//场地名称集合
        var fivesitesumresult = "{{ fivesite_sum_result }}"//场地详细信息集合
    </script>
    <script src="{% static 'fivesites/js/baidumap.js' %}"></script>
	<div class="main">
      	<div class="content-top" id="fea">
      		<div class="container">
      			<p class="m_2">声明：本站点永久免费提供成都市五人制足球场地数据信息.数据仅供参考！</p>
      			<ul class="icons">
      				<li><a href="#"><i class="icon1"> </i></a></li>
      				<li><a href="#"><i class="icon2"> </i></a></li>
      				<li><a href="#"><i class="icon3"> </i></a></li>
      				<li><a href="#"><i class="icon4"> </i></a></li>
      				<li><a href="#"><i class="icon5"> </i></a></li>
      				<li><a href="#"><i class="icon6"> </i></a></li>
      				<div class="clearfix"> </div>
      			</ul>
      		</div>
      	</div>
	</div>
	<div id="copyrigt">
		<p style="text-align:center;">copyright@2017-2018 FootballData</p>
		<br>
	</div>
</body>
</html>